@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.demo-3{
	margin-top: 30vh;
}
.gallery {
	display: flex;
	padding-right: calc(20vw - 7.5vmax - 1rem);
	padding-left: calc(40vw - 7.5vmax - 1rem);
	margin-top: 10vh;
	height: 100vh;
}
.gallery__text-inner .uiux,.gallery__text-inner .web,.gallery__text-inner .graphic,.gallery__text-inner .photography,.gallery__text-inner .illustration {
	text-decoration: none;
	font-size: .5em;
	outline: none;
	color: rgb(168, 216, 185);
}
.gallery__text-inner a:hover{
	color: rgb(237, 120, 74);
}
.gallery__item {
	margin: 0;
	display: grid;
	margin-top: 30vh;
	grid-template-areas: '... ...' 
						 'gallery-image gallery-image'
						 'gallery-image gallery-image' ;
	grid-template-columns: 8rem 25vh;
	grid-template-rows: 4rem 45vh 3rem;
}

.gallery__item-img {
	grid-area: gallery-image;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	will-change: transform;
	cursor: pointer;
	z-index: 2;
	border: solid 3px #fff;
	background-color: #fff;
}
.gallery__item-imginner {
	background-size: cover;
    background-position: 50% 25%;
	width: calc(100% + 10vw);
	margin-left: -5vw;
    height: 100%;
    will-change: transform;
}
.gallery__item:hover  .gallery__item-imginner{
	filter: brightness(0.4);
    transition: ease .6s;

}
.gallery__word{
	position: absolute;
    top: 0px;
	height: 50vh;
	width: 14vw;
	padding: 4vh 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;
}
.gallery__word p{
	margin: 0 auto;
	width: 250px;
	display: none;
	color: #fff;
	font-size: 1.2em;
	line-height: 2em;
	letter-spacing: .2em;
}
.gallery__item-img:hover p{
	display: block;
}
.gallery__item-caption {
	grid-area: 1 / 1 / 4 / 3;
	display: grid;
	grid-template-areas: 'gallery-number gallery-number' 
						 'gallery-link ...'
						 'gallery-link gallery-tags' ;
	grid-template-columns: 8rem auto;
	grid-template-rows: 4rem auto 3rem;
	position: relative;
	z-index: 1;
}

.gallery__item-number {
	grid-area: gallery-number;
	font-size: 1.5em;
	letter-spacing: .2em;
	justify-self: center;
	color: var(--color-gallery-number);
	cursor: pointer;
	color: #F5ECE4;
	
}

.gallery__item-title {
	grid-area: gallery-title;
	margin: 0;
	font-size: 1rem;
	font-size: clamp(2rem,4vw,2rem);
	color: var(--color-gallery-title);
	display: none;
}

.gallery__item-number{
	font-family:'Noto Sans TC', serif;
	font-weight: 400;

}
.gallery__item-title,
.gallery__text {
	font-family: 'Cinzel','Noto Sans TC', serif;
	font-weight: 800;
	/* align-self: center; */
}

.gallery__item-link {
	grid-area: gallery-link;
	align-self: end;
	font-size: 1.5rem;
	background: var(--color-gallery-link-bg);
	color: var(--color-gallery-link);
	text-decoration: underline;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	display: none;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
	background: var(--color-gallery-link-bg-hover);
	color: var(--color-gallery-link-hover);
	text-decoration: none;
}

.gallery__item-tags {
	grid-area: gallery-tags;
	justify-self: end;
	font-size: 1.5rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1rem;
	cursor: pointer;
	display: none;
}

.gallery__text {
	margin-top: 5vh;
	font-size: 8em;
	line-height: .7;
	text-transform: lowercase;
	/* color: transparent;
	-webkit-text-stroke: 2px #BE4D47; */
	position: absolute;
	right: 10vw;
	word-spacing: .5em;
}
.gallery__text:first-child {
	left: 8vw;
	right: auto;
}

.gallery__text span {
	display: block;
}

@media screen and (min-width: 53em) {
	.content {
	    height: 100vh;
	    justify-content: flex-end;
	}
}
